{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Lonescale",
    "description": "A sample API for Lonescale",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api.lonescale.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "description": "Get profile information",
        "responses": {
          "200": {
            "description": "Profile information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    },
    "/trigger/enrich": {
      "post": {
        "description": "Start waterfall enrichment for contacts.\n\nLoneScale will call your `webhook_url` with this payload once the job is completed.\n\nSee the [Enrichment payload](/api-reference/enrichment-payload) documentation for the full webhook schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Enrichment successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrichment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    },
    "/trigger/contact-sourcing": {
      "post": {
        "description": "Search Contacts.\n\nLoneScale will call your `webhook_url` with this payload once the job is completed.\n\nSee the [Sourcing payload](/api-reference/sourcing-payload) documentation for the full webhook schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSourcingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sourcing contacts successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sourcing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "required": [
          "id",
          "firstName",
          "lastName",
          "email"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The user ID",
            "type": "string"
          },
          "firstName": {
            "description": "User first name",
            "type": "string"
          },
          "lastName": {
            "description": "User last name",
            "type": "string"
          },
          "email": {
            "description": "User email address",
            "type": "string"
          },
          "plan": {
            "type": "object",
            "properties": {
              "contactCredits": {
                "description": "Remaining contact credits",
                "type": "number"
              },
              "enrichmentCredits": {
                "description": "Remaining enrichment credits",
                "type": "number"
              }
            }
          }
        }
      },
      "EnrichmentRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "enrichment_type",
          "contacts",
          "webhook_url"
        ],
        "properties": {
          "enrichment_type": {
            "type": "array",
            "description": "Types of enrichment to perform.",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "phone"
              ]
            },
            "minItems": 1,
            "uniqueItems": true
          },
          "custom": {
            "$ref": "#/components/schemas/EnrichmentCustomOptions"
          },
          "contacts": {
            "type": "array",
            "description": "Contacts to enrich.",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "minItems": 1
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook endpoint to receive enrichment results."
          }
        },
        "example": {
          "enrichment_type": [
            "email",
            "phone"
          ],
          "contacts": [
            {
              "firstname": "John",
              "lastname": "Doe",
              "email": "john@acme.com",
              "job_title": "ceo",
              "linkedin_url": "https://www.linkedin.com/in/john-doe/",
              "domain": "acme.com",
              "company_name": "Acmeo",
              "custom": {
                "contact_id": "44479301"
              }
            }
          ],
          "webhook_url": "https://api.example.com/webhooks/enrichment",
          "custom": {
            "provider": "lonescale",
            "enrichment_type": "email and phone"
          }
        }
      },
      "ContactSourcingRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "company_domain",
          "personas",
          "webhook_url"
        ],
        "properties": {
          "company_domain": {
            "type": "string",
            "description": "Company domain or website to search contacts from."
          },
          "company_name": {
            "type": "string",
            "description": "Company name to search contacts from."
          },
          "company_linkedin_url": {
            "type": "string",
            "description": "Company LinkedIn URL used to search contacts, increasing result coverage and accuracy by 25%."
          },
          "personas": {
            "type": "array",
            "description": "Personas to use to search and filter contacts within the company",
            "items": {
              "$ref": "#/components/schemas/Persona"
            },
            "minItems": 1
          },
          "included_locations": {
            "type": "array",
            "description": "List of country codes (ISO 3166-1 alpha-2) to include in the search.",
            "items": {
              "$ref": "#/components/schemas/CountryCode"
            }
          },
          "limit": {
            "type": "number",
            "description": "Defines the maximum number of contacts to retrieve"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook endpoint to receive results."
          },
          "custom": {
            "$ref": "#/components/schemas/EnrichmentCustomOptions"
          }
        },
        "example": {
          "company_name": "Acme Corp",
          "company_domain": "acme.com",
          "company_linkedin_url": "https://www.linkedin.com/company/acme",
          "personas": [
            {
              "name": "Tech Leaders",
              "job_titles": [
                "CTO",
                "VP Engineering"
              ]
            }
          ],
          "limit": 10,
          "custom": {
            "id": "12356",
            "provider": "lonescale"
          },
          "webhook_url": "https://api.example.com/webhooks/enrichment"
        }
      },
      "EnrichmentCustomOptions": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the record from the CRM, database, or other source system."
          },
          "provider": {
            "type": "string",
            "description": "Downstream data provider to use (e.g., Lonescale)."
          },
          "enrichment_type": {
            "type": "string",
            "description": "Provider-specific enrichment mode.",
            "example": "phone"
          }
        }
      },
      "Contact": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "firstname",
          "lastname"
        ],
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "job_title": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "domain": {
            "type": "string",
            "description": "Company domain (e.g., acme.com)."
          },
          "company_name": {
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/ContactCustom"
          }
        }
      },
      "CountryCode": {
        "type": "string",
        "description": "ISO 3166-1 alpha-2 country code",
        "isEnum": true,
        "enum": [
          "AT",
          "BE",
          "CA",
          "CH",
          "DE",
          "DK",
          "ES",
          "FI",
          "FR",
          "GB",
          "IE",
          "IL",
          "IT",
          "LU",
          "NL",
          "NO",
          "PT",
          "SE",
          "US",
          "AU"
        ]
      },
      "Persona": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "job_titles",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "job_titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_job_titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactCustom": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "Optional CRM record id specific to this contact."
          }
        }
      },
      "SourcingPayload": {
        "type": "object",
        "properties": {
          "client_company_name": {
            "type": "string",
            "description": "The company name provided in the request."
          },
          "client_company_domain": {
            "type": "string",
            "description": "The company domain provided in the request."
          },
          "client_company_linkedin_url": {
            "type": "string",
            "description": "The company LinkedIn URL provided in the request."
          },
          "lonescale_company_name": {
            "type": "string",
            "description": "The enriched company name."
          },
          "lonescale_company_domain": {
            "type": "string",
            "description": "The enriched company domain."
          },
          "lonescale_company_linkedin_id": {
            "type": "string",
            "description": "The enriched company LinkedIn ID."
          },
          "lonescale_company_linkedin_url": {
            "type": "string",
            "description": "The enriched company LinkedIn URL."
          },
          "lonescale_universal_name": {
            "type": "string",
            "description": "The enriched company universal name."
          },
          "lonescale_company_description": {
            "type": "string",
            "description": "The enriched company description."
          },
          "lonescale_company_industry": {
            "type": "string",
            "description": "The enriched company industry."
          },
          "lonescale_company_country": {
            "type": "string",
            "description": "The enriched company country."
          },
          "lonescale_company_country_code": {
            "type": "string",
            "description": "The enriched company country code."
          },
          "lonescale_company_employee_range": {
            "type": "string",
            "description": "The enriched company employee range."
          },
          "lonescale_company_staff_count": {
            "type": "integer",
            "description": "The enriched company staff count."
          },
          "lonescale_company_city": {
            "type": "string",
            "description": "The enriched company city."
          },
          "lonescale_job_title": {
            "type": "string",
            "description": "The enriched job title."
          },
          "lonescale_country_code": {
            "type": "string",
            "description": "The enriched country code."
          },
          "lonescale_full_name": {
            "type": "string",
            "description": "The enriched full name."
          },
          "lonescale_first_name": {
            "type": "string",
            "description": "The enriched first name."
          },
          "lonescale_last_name": {
            "type": "string",
            "description": "The enriched last name."
          },
          "lonescale_geo_country_name": {
            "type": "string",
            "description": "The enriched geo country name."
          },
          "lonescale_geo_location_name": {
            "type": "string",
            "description": "The enriched geo location name."
          },
          "lonescale_city": {
            "type": "string",
            "description": "The enriched city."
          },
          "lonescale_linkedin_url": {
            "type": "string",
            "description": "The enriched LinkedIn URL."
          },
          "message": {
            "type": "string",
            "description": "Status message of the sourcing job, the job was successful."
          },
          "status": {
            "type": "string",
            "description": "Status of the sourcing job",
            "enum": [
              "not_found",
              "end"
            ]
          },
          "profiles_found": {
            "type": "integer",
            "description": "Number of profiles found for the sourcing job."
          }
        }
      },
      "Sourcing": {
        "type": "string",
        "description": "Response indicating the sourcing job has been created.",
        "example": "Sourcing started for company Acme Corp"
      },
      "EnrichPayload": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "The enriched first name."
          },
          "lastname": {
            "type": "string",
            "description": "The enriched last name."
          },
          "domain": {
            "type": "string",
            "description": "The enriched company domain."
          },
          "most_probable_email": {
            "type": "string",
            "description": "The most probable email address."
          },
          "most_probable_email_status": {
            "type": "string",
            "description": "The status of the most probable email address."
          },
          "most_probable_phone": {
            "type": "string",
            "description": "The most probable phone number."
          },
          "most_probable_phone_type": {
            "type": "string",
            "description": "The type of the most probable phone number."
          },
          "most_probable_phone_status": {
            "type": "string",
            "description": "The status of the most probable phone number."
          },
          "most_probable_phone_country_code": {
            "type": "string",
            "description": "The country code of the most probable phone number."
          },
          "emails": {
            "type": "array",
            "description": "List of enriched email addresses.",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "phones": {
            "type": "array",
            "description": "List of enriched phone numbers.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "international_format": {
                  "type": "string"
                },
                "country_name": {
                  "type": "string"
                },
                "country_code": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "prefix": {
                  "type": "string"
                }
              }
            }
          },
          "profile": {
            "type": "object",
            "description": "The enriched profile information.",
            "properties": {
              "linkedin_url": {
                "type": "string"
              },
              "linkedin_handle": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "summary": {
                "type": "string"
              },
              "headline": {
                "type": "string"
              },
              "position": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "object",
                    "properties": {
                      "month": {
                        "type": "integer"
                      },
                      "year": {
                        "type": "integer"
                      }
                    }
                  },
                  "end_date": {
                    "type": "object",
                    "properties": {
                      "month": {
                        "type": "integer"
                      },
                      "year": {
                        "type": "integer"
                      }
                    }
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "domain": {
                        "type": "string"
                      },
                      "linkedin_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthError": {
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid API Key"
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "statusCode": {
            "type": "integer",
            "example": 401
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Provide your API key in the x-api-key header."
      }
    }
  }
}