{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Lonescale",
    "description": "A sample API for Lonescale",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api.lonescale.com/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "description": "Get profile information",
        "responses": {
          "200": {
            "description": "Profile information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    },
    "/trigger/enrich": {
      "post": {
        "description": "Start waterfall enrichment for contacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Enrichment successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrichment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    },
    "/trigger/contact-sourcing": {
      "post": {
        "description": "Search Contacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSourcingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sourcing contacts successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sourcing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Bad request",
                  "error": "Bad request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "example": {
                  "message": "Invalid API Key",
                  "error": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "required": [
          "id",
          "firstName",
          "lastName",
          "email"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The user ID",
            "type": "string"
          },
          "firstName": {
            "description": "User first name",
            "type": "string"
          },
          "lastName": {
            "description": "User last name",
            "type": "string"
          },
          "email": {
            "description": "User email address",
            "type": "string"
          },
          "plan": {
            "type": "object",
            "properties": {
              "contactCredits": {
                "description": "Remaining contact credits",
                "type": "number"
              },
              "enrichmentCredits": {
                "description": "Remaining enrichment credits",
                "type": "number"
              }
            }
          }
        }
      },
      "EnrichmentRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [


          "enrichment_type"
          "contacts",
          "webhook_url",
        ],
        "properties": {
          "enrichment_type": {
            "type": "array",
            "description": "Types of enrichment to perform.",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "phone"
              ]
            },
            "minItems": 1,
            "uniqueItems": true
          },
          "custom": {
            "$ref": "#/components/schemas/EnrichmentCustomOptions"
          },
          "contacts": {
            "type": "array",
            "description": "Contacts to enrich.",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "minItems": 1
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook endpoint to receive enrichment results."
          }
        },
        "example": {
          "enrichment_type": [
            "email",
            "phone"
          ],
          "contacts": [
            {
              "firstname": "John",
              "lastname": "Doe",
              "email": "john@acme.com",
              "job_title": "ceo",
              "linkedin_url": "https://www.linkedin.com/in/john-doe/",
              "domain": "acme.com",
              "company_name": "Acmeo",
              "custom": {
                "contact_id": "44479301"
              }
            }
          ],          
          "webhook_url": "https://api.example.com/webhooks/enrichment",
          "custom": {
            "provider": "lonescale",
            "enrichment_type": "email and phone"
          }          
        }
      },
      "ContactSourcingRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "company_domain",
          "personas",
          "webhook_url"
        ],
        "properties": {
          "company_domain": {
             "type": "string",
            "description": "Company domain or website to search contacts from."
          },
          "company_name": {
            "type": "string",
            "description": "Company name to search contacts from."
          },
          "company_linkedin_url": {
            "type": "string",
            "description": "Company LinkedIn URL used to search contacts, increasing result coverage and accuracy by 25%."
          },
          "personas": {
            "type": "array",
            "description": "Personas to use to search and filter contacts within the company",
            "items": {
              "$ref": "#/components/schemas/Persona"
            },
            "minItems": 1
          },
          "limit": {
            "type": "number",
            "description": "Defines the maximum number of contacts to retrieve"
          },          
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook endpoint to receive results."
          },
          "custom": {
            "$ref": "#/components/schemas/EnrichmentCustomOptions"
          }
        },
        "example": {
          "company_name": "Acme Corp",
          "company_domain": "acme.com",
          "company_linkedin_url": "https://www.linkedin.com/company/acme"
          "personas": [
            {
              "name": "Tech Leaders",
              "job_titles": [
                "CTO",
                "VP Engineering"
              ]
            }
          ],
          "limit": 10,
          "custom": {
            "id": "12356",
            "provider": "lonescale"
          },          
          "webhook_url": "https://api.example.com/webhooks/enrichment"
        }
      },
      "EnrichmentCustomOptions": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the record from the CRM, database, or other source system."
          },        
          "provider": {
            "type": "string",
            "description": "Downstream data provider to use (e.g., Lonescale)."
          },
          "enrichment_type": {
            "type": "string",
            "description": "Provider-specific enrichment mode.",
            "example": "phone"
          }
        }
      },
      "Contact": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "firstname",
          "lastname"
        ],
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "job_title": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "domain": {
            "type": "string",
            "description": "Company domain (e.g., acme.com)."
          },
          "company_name": {
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/ContactCustom"
          }
        }
      },
      "Persona": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "job_titles",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "job_titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_job_titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactCustom": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "Optional CRM record id specific to this contact."
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthError": {
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid API Key"
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "statusCode": {
            "type": "integer",
            "example": 401
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Provide your API key in the x-api-key header."
      }
    }
  }
}